<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.jpeg">
    <title>Awesome Social Network</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but the Awesome Social Network cannot be awesome without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>

<style>
  body {
    background-color: #f4f6f9;
  }
</style>