<template>
  <div class="container">
    <div class="text-center">
      <h2>Editer votre profil</h2>
    </div>
    <div class="row m-y-2">
        <div class="col-lg-8 push-lg-4 personal-info">
          <form role="form">
            <div class="form-group row" style="margin-top:5%">
              <label for="firstNameId">Prénom</label>
              <input class="form-control" id="firstNameId" v-model="firstName" type="text" />
            </div>
            <div class="form-group row">
              <label for="lastNameId">Nom</label>
              <input class="form-control" id="lastNameId" v-model="lastName" type="text" />
            </div>
            <div class="form-group row">
              <label for="emailId">Email</label>
              <input class="form-control" id="emailId" v-model="email" type="email" />
            </div>
            <div class="form-group row">
              <label for="cityId">Ville</label>
              <input class="form-control" v-model="city" id="cityId" type="text" />
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label"></label>
              <div class="col-lg-9">
                <input
                  type="reset"
                  style="margin-right:2%"
                  class="btn btn-secondary"
                  value="Annuler"
                />
                <input
                  type="button"
                  class="btn btn-primary"
                  v-on:click="updateInfoUser"
                  value="Sauvegarder"
                />
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-4 pull-lg-8">
          <img
            src="//placehold.it/150"
            class="rounded-circle avatar mt-5 mb-4"
            style="width:150px;height:150px; margin-left: auto; margin-right: auto; display: block"
            id="imgProfile"
            alt="avatar"
          />
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              id="userCustomImgFile"
              onchange="document.getElementById('imgProfile').src = window.URL.createObjectURL(this.files[0]);document.getElementById('labelImgProfile').innerText=this.files[0].name;console.log(this.files[0]);"
            />
            <label id="labelImgProfile" class="custom-file-label" for="userCustomImgFile">Utiliser une autre photo</label>
          </div>
        </div>
      </div>
  </div>
</template>

<script>
import VueCookies from "vue-cookies";
import jwt from "jsonwebtoken";
import env from "../../config/environment-variable";
import getImageLink from '../getImageLink';
import { router } from "../main";


export default {
  name: "EditUser",
  data() {
    return {
      firstName: "",
      lastName: "",
      email: "",
      city: ""
    };
  },
  mounted() {
    let tokenDecoded = jwt.decode(VueCookies.get("vue-token"));
    fetch(
      env.httpOrHttps +
        "://" +
        env.usersManagerUrl +
        "/users/" +
        tokenDecoded["sub"],
      {
        method: "GET",
        headers: {
          "Access-Control-Allow-Origin": "*",
          Authorization: "Bearer " + VueCookies.get("vue-token")
        }
      }
    )
      .then(res => {
        //eslint-disable-next-line no-console
        console.log(res);
        if (res.status == "403") window.location.href = "/login";
        res
          .json()
          .then(jsonres => {
            this.firstName = jsonres.firstName;
            this.lastName = jsonres.lastName;
            this.email = jsonres.email;
            this.city = jsonres.city;
            if(jsonres.attachmentId !== undefined) {
              getImageLink(jsonres.attachmentId)
                      .then(result => {
                        document.getElementById("imgProfile").src = result;
                      })
                      .catch(err => {
                        console.log('Error mounting user image: ' + err);
                      })
            }
          })
          .catch(jsonerr => {
            //eslint-disable-next-line no-console
            console.log(jsonerr);
          });
      })
      .catch(err => {
        //eslint-disable-next-line no-console
        console.log(err);
      });
  },
  methods: {
    updateInfoUser: function(self) {
      if (document.getElementById("userCustomImgFile").files[0] !== undefined) {
        insertUserImg(document.getElementById("userCustomImgFile").files[0])
          .then(resImg => {
            resImg
              .text()
              .then(resImgText => {
                updateUserInfo(
                  this.firstName,
                  this.lastName,
                  this.email,
                  this.city,
                  resImgText
                )
                  .then(res => {
                    //eslint-disable-next-line no-console
                    console.log("update ok avec img " + resImgText);
                    router.push("/?refresh");
                  })
                  .catch(err => {
                    //eslint-disable-next-line no-console
                    console.log(err);
                  });
              })
              .catch(err => {
                //eslint-disable-next-line no-console
                console.log(err);
              });
          })
          .catch(err => {
            //eslint-disable-next-line no-console
            console.log(err);
          });
      } else {
        updateUserInfo(
          this.firstName,
          this.lastName,
          this.email,
          this.city,
          null
        )
          .then(res => {
            //eslint-disable-next-line no-console
            console.log(res);
            router.push("/");
          })
          .catch(err => {
            //eslint-disable-next-line no-console
            console.log(err);
          });
      }
    }
  }
};

async function insertUserImg(file) {
  return new Promise((resolve, reject) => {
    let formElement = new FormData();
    formElement.append("img", file);
    fetch(env.httpOrHttps + "://" + env.attachmentManagerUrl + "/images", {
      method: "POST",
      body: formElement
    })
      .then(res => resolve(res))
      .catch(err => reject(err));
  });
}

async function updateUserInfo(firstName, lastName, email, city, attachmentId) {
  return new Promise((resolve, reject) => {
    let tokenDecoded = jwt.decode(VueCookies.get("vue-token"));
    fetch(
      env.httpOrHttps +
        "://" +
        env.usersManagerUrl +
        "/users/" +
        tokenDecoded["sub"],
      {
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
          "Access-Control-Allow-Origin": "*",
          Authorization: "Bearer " + VueCookies.get("vue-token")
        },
        method: "PATCH",
        body: JSON.stringify({
          firstName: firstName,
          lastName: lastName,
          email: email,
          city: city,
          attachmentId: attachmentId
        })
      }
    )
      .then(res => resolve(res))
      .catch(err => reject(err));
  });
}
</script>