<template>
  <div class="help">
      <div class="row justify-content-center">
          <div class=col-md-10>
            <div class=card>
                <div class="card-header">
                    Centre d'aide du Awesome Social Network
                </div>
                <div class="card-body">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseInscription" aria-expanded="true" aria-controls="collapseInscription">
                            1. S'inscrire
                        </button>
                    </h5>
                    <div class="collapse" id="collapseInscription">
                        <img class="img-fluid" src="../../public/inscription.gif" alt="chargement impossible">
                        - Allez sur la page d’accueil du réseau social <br>
                        - Cliquez sur le bouton “S’inscrire” en haut à droite de la page d’accueil, un formulaire s’ouvrira <br>
                        - Une fois le formulaire de création de compte ouvert, il vous est demandé d’inscrire vos informations personnelles <br>
                        - Une fois que vos informations personnelles, cliquez sur le bouton “Créer le compte” <br>
                        - Vous devriez être redirigé vers la page d'accueil, signifiant la création du compte avec succès <br>
                    </div>
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseConnection" aria-expanded="true" aria-controls="collapseConnection">
                            2. Se connecter
                        </button>
                    </h5>
                    <div class="collapse" id="collapseConnection">
                        <img class="img-fluid" src="../../public/connexion.gif" alt="chargement impossible">
                        - Si vous êtes déconnecté, vous devriez voir le bouton “Se connecter” dans la barre de navigation <br>
                        - Cliquez sur le bouton “Se connecter” <br>
                        - Une  fois que vous avez entré vos informations et que vous avez cliquez sur le bouton “Log in”, vous devriez être redirigé vers la page d'accueil <br>
                        - Votre nom et prénom sont maintenant affichés en haut à droite dans la barre de navigation <br>
                    </div>
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseModification" aria-expanded="true" aria-controls="collapseModification">
                            3. Modifier son profil
                        </button>
                    </h5>
                    <div class="collapse" id="collapseModification">
                        <img class="img-fluid" src="../../public/modifier-profil.gif" alt="chargement impossible">
                        - Cliquez sur la flèche à droite de votre nom dans la barre de navigation <br>
                        - Cliquez sur "Mon profil" <br>
                        - Vous pouvez changer vos information dans les champs de texte concerné <br>
                        - Vous pouvez ajouter une photo de profil en cliquant sur "Utiliser une autre photo" <br>
                        - Cliquez sur "Annuler" pour abandonner les modifications sur la page <br>
                        - Si vous ne souhaitez pas annuler, cliquez sur "Sauvegarder" pour sauvegarder toutes les modifications effectuées sur la page <br>
                        - Les informations saisies devraient maintenant s'afficher sur votre profil <br>
                    </div>
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTimeline" aria-expanded="true" aria-controls="collapseTimeline">
                            4. Poster sur sa timeline
                        </button>
                    </h5>
                    <div class="collapse" id="collapseTimeline">
                        <img class="img-fluid" src="../../public/publication-timeline.gif" alt="chargement impossible">
                        - Dans la barre de navigation : cliquez sur Fil d’actualité <br>
                        - Cliquez dans le champs de texte vide et tapez votre message <br>
                        - Vous pouvez également joindre une image en cliquant sur “Choisir un fichier” <br>
                        - Cliquez sur "Envoyer" pour poster le message <br>
                        - Le message devrait immédiatement apparaître sur votre timeline <br>
                    </div>
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFollow" aria-expanded="true" aria-controls="collapseFollow">
                            5. Follow un utilisateur
                        </button>
                    </h5>
                    <div class="collapse" id="collapseFollow">
                        <img class="img-fluid" src="../../public/follow.gif" alt="chargement impossible">
                        - Dans la barre de navigation, cliquez sur “Membres” <br>
                        - Dans la liste, cliquez sur l’utilisateur désiré <br>
                        - Une fois sur la page de l'utilisateur cliquez sur le bouton Follow sous sa photo de profil <br>
                        - Le bouton devrait maintenant devenir orange et porter la mention "Unfollow" <br>
                    </div>
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseUnfollow" aria-expanded="true" aria-controls="collapseUnfollow">
                            6. Unfollow un utilisateur
                        </button>
                    </h5>
                    <div class="collapse" id="collapseUnfollow">
                        <img class="img-fluid" src="../../public/unfollow.gif" alt="chargement impossible">
                        - Dans la barre de navigation, cliquez sur “Membres” <br>
                        - Dans la liste, cliquez sur l’utilisateur désiré <br>
                        - Une fois sur la page de l'utilisateur cliquez sur le bouton Unfollow sous sa photo de profil <br>
                        - Le bouton devrait maintenant devenir blanc et porter la mention "Follow" <br>
                    </div>
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseDeconnection" aria-expanded="true" aria-controls="collapseDeconnection">
                            7. Se déconnecter
                        </button>
                    </h5>
                    <div class="collapse" id="collapseDeconnection">
                        <img class="img-fluid" src="../../public/deconnexion.gif" alt="chargement impossible">
                        - Cliquez sur la flèche à droite de votre nom dans la barre de navigation <br>
                        - Dans le menu qui s'affiche, cliquez sur "Deconnexion" <br>
                        - Vous devriez être redirigé vers l'accueil et votre nom n'apparaît plus dans la barre de navigation <br>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>
</template>

<script>
export default {
  name: 'Help',
  props: {
    msg: String
  },
}
</script>

<style scoped>
.collapse {
    margin-left: 26px;
}

</style>