<template>
  <div class="home">
      <h5 class="msg">Bienvenue sur le Awesome Social Network !</h5>
  </div>
</template>

<script>
export default {
  name: 'Home',
  props: {
    msg: String
  },
  beforeRouteUpdate (to, from, next) {
    next();
    this.checkRefresh()
  },
  created () {
    this.checkRefresh()
  },
  methods: {
    checkRefresh () {
      if (this.$route.query.refresh !== undefined) {
        this.$router.replace(this.$route.path)
        window.location.reload();
      }
    }
  }
}
</script>

<style scoped>
.msg {
  text-align: center;
  margin-top: 10%;

}
</style>
