<template>
    <div class="vld-parent">
        <p>Vous allez être redirigé vers la page de connexion</p>
        <loading :active.sync="isLoading"
                 :can-cancel="true"
                 :on-cancel="onCancel"
                 :is-full-page="fullPage"
                 :loader="loader"
                 :color="color"
                 ></loading>
    </div>
</template>

<script>
import Vue from 'vue'
import Keycloak from 'keycloak'
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import VueCookies from 'vue-cookies'
import {router} from '../main'

    export default {
        name: "Login",
        data() {
            return {
                isLoading: true,
                fullPage: true,
                color: '#FF1493',
                loader: 'spinner'
            }
        },
        components: {
            Loading
        },
        created() {
            VueCookies.config('7d');
            VueCookies.set('theme','default');
            
            let initOptions = {
                url: 'http://keycloak.vitisb.fr/auth', grant_type: 'password', realm: 'keycloak-user-manager',clientId: 'vue-test-app', onLoad:'login-required'
            }

            let keycloak = Keycloak(initOptions);

            keycloak.init({ onLoad: initOptions.onLoad }).success((auth) =>{
                
                if(!auth) {
                    //eslint-disable-next-line no-console
                    console.log("ko");
                    window.location.reload();
                    this.isLoading = false;
                } else {
                    //eslint-disable-next-line no-console
                    console.log("ok");
                    Vue.$log.info("Authenticated");
                    this.isLoading = false;
                }
                // eslint-disable-next-line no-console
                console.log(router);
                VueCookies.set('vue-token',keycloak.token);
                VueCookies.set('vue-refresh-token',keycloak.refreshToken);
                router.push("/?refresh");

                //eslint-disable-next-line no-console
                //console.log ('USER DATA : ', keycloak.tokenParsed)

                setTimeout(() => {
                    keycloak.updateToken(70).success((refreshed) => {
                        if (refreshed) {
                            Vue.$log.debug('Token refreshed'+ refreshed);
                        } else {
                            Vue.$log.warn('Token not refreshed, valid for '
                                + Math.round(keycloak.tokenParsed.exp + keycloak.timeSkew - new Date().getTime() / 1000) + ' seconds');
                        }
                    }).error(()=>{
                        Vue.$log.error('Failed to refresh token');
                    });
                }, 60000)  
            }).error((error) => {
                Vue.$log.error(error);
                Vue.$log.error("Authenticated Failed");
            });
        }
    };
</script>