<template>
    <div class="page-wrap d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <span class="display-1 d-block">Oups</span>
                    <div class="mb-4 lead">La page que vous recherchez n'existe pas encore.</div>
                    <a href="/" class="btn btn-link">Retour à l'écran d'acceuil</a>
                </div>
            </div>
        </div>
    </div>
</template>