<template>
    <div class="container bootstrap snippet" style = "padding-bottom: 6px;">
        <div class="col-sm-8">
            <div class="panel panel-white post">
                <div class="post-heading">
                    <div class="float-left image">
                        <img :src="userImageSrc" class="rounded-circle avatar" alt="user profile image">
                    </div>
                    <div class="float-left meta">
                        <div class="title h5">
                            <a :href="getProfileCurrentUserId"><strong>{{ userDisplayedName }}</strong></a>
                            <div v-if="sharedPeopleList.length > 0" style="display: inline;">
                                a partagé avec
                                <div v-for="sharedPeople in sharedPeopleList" v-bind:key="sharedPeople.id" style="display: inline;">
                                    <a :href="sharedPeople.profilePath"><strong>{{ sharedPeople.firstName }} {{ sharedPeople.lastName }}</strong></a>
                                </div>
                            </div>
                        </div>
                        <h6 class="text-muted time">{{ displayedTime }}</h6>
                    </div>
                </div>
                    <div class="post-description">
                    <p>{{ content }}</p>
                    <img :id="publicationImageId" v-if="attachmentId != null" alt="chargement échoué">
            </div>
        </div>
        </div>
    </div>
</template>

<script>
    import jwt from 'jsonwebtoken'
    import VueCookies from "vue-cookies";
    import {router} from '../main'
    import * as moment from 'moment';
    import getUser from '../UserManagerClient';
    import getImageLink from '../getImageLink';

    export default {
        name: 'Publication',
        props: {
            id: String,
            content: String,
            createdAt: String,
            updatedAt: String,
            sharedPeople: Array,
            attachmentId: String,
            userDisplayedName: String,
            userImageSrc: String
        },
        methods: {
            getSharedPeople: function (token, self) {
                return new Promise((resolve) => {
                    if (self.sharedPeople.length > 0) {
                        var sharedPeopleList = [];
                        for (let i = 0; i < this.sharedPeople.length; i++) {
                            getUser(token, this.sharedPeople[i].peopleId)
                                .then(result => {
                                    sharedPeopleList[i] = new Object();
                                    sharedPeopleList[i].id = result.id;
                                    sharedPeopleList[i].firstName = result.firstName;
                                    sharedPeopleList[i].lastName = result.lastName;
                                    sharedPeopleList[i].profilePath = '/profile?id=' + result.id;
                                    if(i === this.sharedPeople.length - 1) {
                                        resolve(sharedPeopleList)
                                    }
                                })
                        }
                    } else {
                        resolve()
                    }
                })
            }
        },
        mounted() {
            this.sharedPeopleList = [];
            let token = VueCookies.get('vue-token');
            if(token === undefined)
                router.push("/login");

            this.getSharedPeople(token, this)
                .then(result => {
                    if(result !== undefined) {
                        this.sharedPeopleList = result
                    }
                })
                .catch(error => {
                    // eslint-disable-next-line no-console
                    console.log('unexpected error: ' + error)
                })
            if(this.attachmentId !== null && this.attachmentId !== undefined) {
                getImageLink(this.attachmentId)
                    .then(result => {
                        document.getElementById(this.publicationImageId).src = result;
                    })
                    .catch(err => {
                        console.log('Error mounting user image: ' + err);
                    })
            }
        },
        data() {
          return {
              sharedPeopleList: Array,
          }
        },
        computed: {
            getProfileCurrentUserId: function () {
                let token = VueCookies.get('vue-token');
                if(token === undefined)
                    router.push("/login");
                let tokenDecoded = jwt.decode(token)
                return '/profile?id=' + tokenDecoded['sub']
            },
            displayedTime: function () {
                var publicationDate = moment(new Date(this.createdAt));
                var currentDate = moment();
                var difference = currentDate.diff(publicationDate, "minutes");
                if(difference === 0) {
                    return 'à l\'instant';
                } else if(difference < 60) {
                    return 'Il y a ' + difference + ' minutes';
                }
                difference = currentDate.diff(publicationDate, "hours");
                if(difference < 24) {
                    return 'Il y a ' + difference + ' heures';
                }
                difference = currentDate.diff(publicationDate, "days");
                return 'Il y a ' + difference + ' jours - ' + publicationDate.locale("fr").format('LT');
            },
            publicationImageId: function () {
                return 'publicationImageId-' + this.id;
            }
        }
    }
</script>
<style scoped>
    img{
        max-width: 100%;
        max-height: 100%;
    }
    .panel-shadow {
        box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
    }
    .panel-white {
        border: 1px solid #dddddd;
        background-color: #fff;
    }
    .panel-white  .panel-heading {
        color: #333;
        background-color: #fff;
        border-color: #ddd;
    }
    .panel-white  .panel-footer {
        background-color: #fff;
        border-color: #ddd;
    }

    .post .post-heading {
        height: 95px;
        padding: 20px 15px;
    }
    .post .post-heading .avatar {
        width: 60px;
        height: 60px;
        display: block;
        margin-right: 15px;
    }
    .post .post-heading .meta .title {
        margin-bottom: 0;
    }
    .post .post-heading .meta .title a {
        color: black;
    }
    .post .post-heading .meta .title a:hover {
        color: #aaaaaa;
    }
    .post .post-heading .meta .time {
        margin-top: 8px;
        color: #999;
    }
    .post .post-image .image {
        width: 100%;
        height: auto;
    }
    .post .post-description {
        padding: 15px;
    }
    .post .post-description p {
        overflow-x: auto; /* Use horizontal scroller if needed */
        white-space: pre-wrap; /* css-3 */
        white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
        font-size: 14px;
    }
    .post .post-description .stats {
        margin-top: 20px;
    }
    .post .post-description .stats .stat-item {
        display: inline-block;
        margin-right: 15px;
    }
    .post .post-description .stats .stat-item .icon {
        margin-right: 8px;
    }
    .post .post-footer {
        border-top: 1px solid #ddd;
        padding: 15px;
    }
    .post .post-footer .input-group-addon a {
        color: #454545;
    }
    .post .post-footer .comments-list {
        padding: 0;
        margin-top: 20px;
        list-style-type: none;
    }
    .post .post-footer .comments-list .comment {
        display: block;
        width: 100%;
        margin: 20px 0;
    }
    .post .post-footer .comments-list .comment .avatar {
        width: 35px;
        height: 35px;
    }
    .post .post-footer .comments-list .comment .comment-heading {
        display: block;
        width: 100%;
    }
    .post .post-footer .comments-list .comment .comment-heading .user {
        font-size: 14px;
        font-weight: bold;
        display: inline;
        margin-top: 0;
        margin-right: 10px;
    }
    .post .post-footer .comments-list .comment .comment-heading .time {
        font-size: 12px;
        color: #aaa;
        margin-top: 0;
        display: inline;
    }
    .post .post-footer .comments-list .comment .comment-body {
        margin-left: 50px;
    }
    .post .post-footer .comments-list .comment > .comments-list {
        margin-left: 50px;
    }
</style>
