
<template>
  <div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
      <h4 class="card-title mt-3 text-center">Création de compte</h4>
      <p class="text-center">Commencer à naviguer sur le site en utilisant un compte gratuit</p>
      <p>
        <a href class="btn btn-block btn-twitter">
          <em class="fab fa-twitter"></em> Connexion via Twitter
        </a>
        <a href class="btn btn-block btn-facebook">
          <em class="fab fa-facebook-f"></em> Connexion via Facebook
        </a>
      </p>
      <p class="divider-text">
        <span class="bg-light">OR</span>
      </p>
      <form @submit.prevent="submitForm">
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <em class="fa fa-user"></em>
            </span>
          </div>
          <input
            name
            class="form-control"
            id="firstName"
            v-model="firstName"
            placeholder="Prénom"
            type="text"
            required
          />
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <em class="fa fa-user"></em>
            </span>
          </div>
          <input
            name
            class="form-control"
            id="lastName"
            v-model="lastName"
            placeholder="Nom"
            type="text"
            required
          />
        </div>
        <!-- form-group// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <em class="fas fa-birthday-cake"></em>
            </span>
          </div>
          <input
            name
            class="form-control"
            id="birthday"
            placeholder="Date de naissance"
            type="date"
          />
        </div>
        <!-- form-group// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <em class="fa fa-building"></em>
            </span>
          </div>
          <input name id="city" class="form-control" placeholder="Ville" type="text" />
        </div>
        <!-- form-group// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <em class="fas fa-user-secret"></em>
            </span>
          </div>
          <input
            name
            class="form-control"
            id="username"
            v-model="username"
            placeholder="Nom d'utilisateur"
            type="text"
            required
          />
        </div>
        <p id="hiddenUsr" hidden style="color:red;">Ce nom d'utilisateur existe déjà ! </p>
        <!-- form-group// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <em class="fa fa-envelope"></em>
            </span>
          </div>
          <input
            name
            class="form-control"
            id="email"
            v-model="email"
            placeholder="Adresse email"
            type="email"
            required
          />
        </div>
        <!-- form-group// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="spanPwd">
              <em class="fa fa-lock"></em>
            </span>
          </div>
          <input
            class="form-control"
            id="password"
            v-model="password"
            placeholder="Mot de passe"
            type="password"
            required
          />
        </div>
        <!-- form-group// -->
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="spanPwd2">
              <em class="fa fa-lock"></em>
            </span>
          </div>
          <input
            class="form-control"
            id="password2"
            placeholder="Confirmation mot de passe"
            type="password"
            required
          />
        </div>
        <p id="hiddenPwd" hidden style="color:red;">Mot de passe non identique</p>
        <!-- form-group// -->
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Créer le compte</button>
        </div>
        <!-- form-group// -->
      </form>
    </article>
  </div>
  <!-- card.// -->
</template>
<script src="../../config//jsencrypt-master/bin/jsencrypt.min.js"></script>
<script>
import axios from "axios";
import env from "../../config/environment-variable";
import rsaKey from "../../rsa";
import JSEncrypt from "jsencrypt/bin/jsencrypt";
import { router } from "../main";

export default {
  name: "Registration",
  data() {
    return {
      firstName: "",
      lastName: "",
      email: "",
      username: "",
      password: ""
    };
  },
  methods: {
    checkAndSendInfo: function() {
      // eslint-disable-next-line no-console
      console.log("checkAndSendInfo");
      const password = JSON.stringify(
        document.getElementById("password").value
      );
      const password2 = JSON.stringify(
        document.getElementById("password2").value
      );
      if (!checkPwd(password, password2)) {
        // ERR
        document.getElementById("spanPwd").style.background = "red";
        document.getElementById("spanPwd2").style.background = "red";
        document.getElementById("hiddenPwd").hidden = false;
      } else {
        var paramUser = [];
        paramUser[0] = document.getElementById("firstName").value;
        paramUser[1] = document.getElementById("lastName").value;
        paramUser[2] = document.getElementById("birthday").value;
        paramUser[3] = document.getElementById("email").value;
        paramUser[4] = document.getElementById("city").value;
        paramUser[5] = document.getElementById("username").value;
        paramUser[6] = this.encryptPwd(password);
        this.sendUserProfile(paramUser);
      }
    },
    sendUserProfile: function(paramUser) {
      axios
        .post(
          env.httpOrHttps + "://" + env.usersManagerUrl + "/users",
          {
            //wait to create user manager routes
            firstName: paramUser[0],
            lastName: paramUser[1],
            birthday: paramUser[2],
            email: paramUser[3],
            city: paramUser[4],
            username: paramUser[5],
            password: paramUser[6]
          },
          {
            headers: {
              "Access-Control-Allow-Origin": "*"
            }
          }
        )
        .then(function(response) {
          router.push("/login");
        })
        .catch(function(error) {
          document.getElementById("hiddenUsr").hidden = false;
        });
    },
    encryptPwd: function(password) {
      let encryptor = new JSEncrypt();
      encryptor.setPublicKey(
        "-----BEGIN PUBLIC KEY----- MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDjldtWTUiGWCZBrIEsol82nGc0sqvUmMQyMJaiVak4TqJRjRbMnyxWrSD6qI/R++STunnxLBvdIeX3okCG88A0bmovuuUSfCEclFMVHtI9n4UrCAqe0L6M2USygm+y0Rh+FHnFGdXWc/0njXlgnuUvjMcFsJuicjtwJbqfssmKUwIDAQAB -----END PUBLIC KEY-----"
      ); // Set Public Key
      let rsaPassWord = encryptor.encrypt(password);
      return rsaPassWord;
    },
    submitForm: function() {
      this.checkAndSendInfo();
    }
  }
};

function checkPwd(password, password2) {
  if (password != password2) return false;
  return true;
}
</script>

<style scoped>
.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;
  z-index: 2;
}
.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}

.btn-facebook {
  background-color: #405d9d;
  color: #fff;
}
.btn-twitter {
  background-color: #42aeec;
  color: #fff;
}
</style>