<template>
  <div>
    <loading :active.sync="isLoading"
             :can-cancel="true"
             :on-cancel="onCancel"
             :is-full-page="fullPage"
             :loader="loader"
             :color="color"
    ></loading>
    <div class="timeline" v-if="loading">
      <div class="container" v-if="this.$route.query.id === undefined">
        <div class="content">
          <p id="hiddenTxt" hidden style="color:red;">(#｀-_ゝ-) Rentre un message ou une image stp...</p>
          <small
            id="emailHelp"
            class="form-text text-muted"
          >Postez un nouveau message sur votre timeline</small>
          <textarea type="text" id="textToSend" class="form-control"></textarea>
          <div style="padding-top: 12px;">
            <button
              type="button"
              class="btn btn-primary pull-right"
              v-on:click="postPublication()"
            >Publier</button>
            &nbsp;
            <div class="custom-file" style="width:auto">
            <input
              type="file"
              class="custom-file-input"
              name="img"
              id="imgInput"
              accept="image/png, image/jpeg, image/gif"
              onchange="document.getElementById('labelImgProfile').innerText=this.files[0].name;console.log(this.files[0]);"
            />
            <label id="labelImgProfile" class="custom-file-label" for="imgInput">Ajouter une photo</label>
          </div>
          </div>
        </div>
      </div>
      <div v-for="publication in publications" v-bind:key="publication.id">
        <Publication
          v-bind:id="publication.id"
          v-bind:label="publication.label"
          v-bind:content="publication.content"
          v-bind:createdAt="publication.createdAt"
          v-bind:updatedAt="publication.updatedAt"
          v-bind:attachmentId="publication.attachmentId"
          v-bind:userDisplayedName="user.displayedName"
          v-bind:sharedPeople="publication.sharedPeople"
          v-bind:userImageSrc="user.userImageSrc"
        ></Publication>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Publication from "./Publication";
import VueCookies from "vue-cookies";
import env from "../../config/environment-variable";
import { router } from "../main";
import jwt from 'jsonwebtoken'
import getImageLink from '../getImageLink';
import getUser from '../UserManagerClient';
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
  name: "Timeline",
  props: {
    msg: String
  },
  components: {
    Publication,
    Loading
  },
  data() {
    return {
      publications: [],
      userImageSrc: undefined,
      user: Object,
      loading: false,
      fullPage: true,
      color: '#FF1493',
      loader: 'spinner'
    };
  },
  mounted() {
    axios.defaults.headers.common["Authorization"] =
      "Bearer " + VueCookies.get("vue-token");
    let self = this;
    this.getDataFromApi(this);

    let token = VueCookies.get('vue-token');
    if(token === undefined)
      router.push("/login");
    getUser(token, this.userId)
            .then(result => {
              self.user.id = result.id;
              self.user.firstName = result.firstName;
              self.user.lastName = result.lastName;
              self.user.displayedName = result.firstName +  ' ' + result.lastName;
              if(result.attachmentId !== null && result.attachmentId !== undefined) {
                getImageLink(result.attachmentId)
                        .then(result => {
                          self.user.userImageSrc = result
                          this.loading = true
                        })
                        .catch(err => {
                          console.log('Error mounting user image: ' + err);
                          self.user.userImageSrc = 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0sCR5gm4oezjeW6w0lyRlVAuxz2HRZj8kTUpIzp3Je-SAUdyf-w&s'
                          this.loading = true
                        })
              } else {
                self.user.userImageSrc = 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0sCR5gm4oezjeW6w0lyRlVAuxz2HRZj8kTUpIzp3Je-SAUdyf-w&s'
                this.loading = true
              }

            })
  },
  computed: {
    userId: function () {
      let token = VueCookies.get('vue-token');
      if(token === undefined)
        router.push("/login");
      var tokenDecoded = jwt.decode(token);
      return this.$route.query.id !== undefined ? this.$route.query.id : tokenDecoded['sub'];
    },
    isLoading: function () {
      return !this.loading;
    }
  },
  methods: {
    getDataFromApi(self) {
      let urlGetPublications =
        env.httpOrHttps +
        "://" +
        env.publicationManagerUrl +
        "/publications/user";
      let userId = this.$route.query.id;

      if (userId != null) {
        urlGetPublications += "/" + userId;
      }

      axios
        .get(urlGetPublications)
        .then(response => {
          // eslint-disable-next-line no-console
          console.log('Timeline loading');
          self.publications = response.data;
        })
        .catch(function(err) {
          if (err.response !== undefined && err.response.status === 403) {
            router.push("/login");
          } else {
            if (err.response !== undefined) {
              // eslint-disable-next-line no-console
              console.log(
                "Unexpected response (code: " +
                  err.response.status +
                  ", body: " +
                  err.response.data +
                  ")"
              );
            } else {
              // eslint-disable-next-line no-console
              console.log("Fetch Error :-S", JSON.stringify(err.response));
            }
          }
        });
    },
    postPublication() {
      if (hasImage()) {
        let formElement = new FormData();
        let imageInput = document.getElementById("imgInput").files[0];
        //imageInput.name = 'img';

        formElement.append("img", imageInput);
        // eslint-disable-next-line no-console
        console.log(formElement);
        fetch(env.httpOrHttps + "://" + env.attachmentManagerUrl + "/images", {
          method: "POST",
          body: formElement
        })
          .then(result => {
            result
              .text()
              .then(res => {
                // eslint-disable-next-line no-console
                console.log(res);
                postPublication(res);
              })
              .catch(err => {
                // eslint-disable-next-line no-console
                console.log(err);
              });
          })
          .catch(err => {
            // eslint-disable-next-line no-console
            console.log(err);
          })
          .catch(err => {
            console.log("err");
          });
      }else{
        let txtToSend = document.getElementById('textToSend').value;
        if(null != txtToSend && '' != txtToSend && undefined != txtToSend)
        {
          postPublication(null);
        }else{
          document.getElementById("hiddenTxt").hidden = false;
        }
      }
    }
  }
};

function hasImage() {
  return  document.getElementById("imgInput").files[0];
}

  //let urlPostPublications = env.httpOrHttps + "://" + env.publicationManagerUrl + "/publications"
function postPublication(imgId) {
  axios
    .post(
      env.httpOrHttps + "://" + env.publicationManagerUrl + "/publications",
      {
        content: document.getElementById("textToSend").value,
        attachmentId: imgId
      }
    )
    .then(function(result) {
      window.location.reload();
      // eslint-disable-next-line no-console
      console.log("postPublication then: " + JSON.stringify(result));
    })
    .catch(function(err) {
      if (err.response !== undefined && err.response.status === 403) {
        router.push("/login");
      } else {
        if (err.response !== undefined) {
          // eslint-disable-next-line no-console
          console.log(
            "Unexpected response (code: " +
              err.response.status +
              ", body: " +
              err.response.data +
              ")"
          );
        } else {
          // eslint-disable-next-line no-console
          console.log("Fetch Error :-S", JSON.stringify(err.response));
        }
      }
    });
}
</script>

<style scoped>
.content {
  margin-bottom: 12px;
  padding: 16px;
  border: 1px solid #dddddd;
  background-color: #fff;
}
</style>