<template>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">ASN</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">
            Accueil
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/timeline">Fil d'actualités</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="/users">Membres</a>
        </li>
        <li>
          <a class="nav-link" href="/help">Aide</a>
        </li>
      </ul>
      <div v-if="isAuthenticated">
        <ul class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{fullName}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/edit">Mon Profil</a>
          <a class="dropdown-item" href="#">Paramètres</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" v-on:click="logoutUser" href="#">Déconnexion</a>
        </div>
        </ul>
      </div>
      <div v-else>
        <button
          class="btn btn-outline-success my-2 my-sm-0 mr-sm-2"
          type="submit"
          onclick="window.location.href = '/login';"
        >Se connecter</button>
        <button
          class="btn btn-outline-success my-2 my-sm-0 mr-sm-2"
          type="submit"
          onclick="window.location.href = '/register';"
        >S'inscrire</button>
      </div>
    </div>
  </nav>
</template>

<script>
import VueCookies from 'vue-cookies'
import jwt from 'jsonwebtoken'
import env from "../../config/environment-variable";


export default {
  name: "TopBar",
  props:{
    fullName: String
    },
  data() {
    return { isAuthenticated: false };
  },
  created() {
    let token = VueCookies.get("vue-token");

    if (token === null) {
      this.isAuthenticated = false;
    } else {
      let tokenDecoded = jwt.decode(token)
      this.fullName = tokenDecoded['given_name'] + ' ' + tokenDecoded['family_name']
      this.isAuthenticated = true
    }
  },
  methods: {
    logoutUser: function() {
      var details = {
        client_id: "vue-test-app",
        refresh_token: VueCookies.get("vue-refresh-token")
      };
      var formBody = [];
      for (var property in details) {
        var encodedKey = encodeURIComponent(property);
        var encodedValue = encodeURIComponent(details[property]);
        formBody.push(encodedKey + "=" + encodedValue);
      }
      formBody = formBody.join("&");
      fetch(
        "http://keycloak.vitisb.fr/auth/realms/keycloak-user-manager/protocol/openid-connect/logout",
        {
          method: "POST",
          mode: 'no-cors',
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'Access-Control-Allow-Origin': '*',
            'Authorization': VueCookies.get("vue-token")
          },
          body: formBody
        }
      )
      .then((res)=>{
        //eslint-disable-next-line no-console
        console.log(res);
         VueCookies.remove("vue-token");
         VueCookies.remove("vue-refresh-token");
         window.location.href = '/';
      })
      .catch((err)=>{
         //eslint-disable-next-line no-console
        console.log(err);
      })
    }
  }
};
</script>

<style scoped>
.navbar {
  border-bottom: 1px solid #dee2e6;
  z-index: 1034;
}
.navbar-light {
  background-color: white;
}
</style>
