<template>
  <div class="row">
    <div class="col-md-3">
      <div class="card" >
          <div v-if="loading">
            <div class="rounded-circle card-body">
                <img
                class="card-img"
                id="profileImage"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0sCR5gm4oezjeW6w0lyRlVAuxz2HRZj8kTUpIzp3Je-SAUdyf-w&s"
                alt="chargement échoué"
                />
                <h2>
                <br />
                    {{user.firstName}} {{user.lastName}}
                </h2>
                {{user.city}}
                <br />
                {{user.email}}
            </div>
           </div>
        <input class="btn btn-primary m-4" id="follow-button" v-on:click="actionFollow" type="button" value="+ Follow" />
      </div>
    </div>
    <div class="col-md-9">
      <Timeline class="tl" v-bind:userId="user.id"></Timeline>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import env from "../../config/environment-variable";
import axios from "axios";
import VueCookies from "vue-cookies";
import { router } from "../main";
import Timeline from "./Timeline";
import getImageLink from '../getImageLink';
import jwt from "jsonwebtoken";

export default {
  name: "UserProfile",
  data() {
    return {
      loading: false,
      user: Object
    };
  },
  mounted() {
    this.getDataFromApi(this);
    getFollow(this)
    .then((res)=>{
        // eslint-disable-next-line no-console
        console.log(res);
        res.text()
        .then((resText)=>{
            if(resText.length == 0){
                document.getElementById("follow-button").value = "+ Follow";
            }
            else{
                document.getElementById("follow-button").value = "Following";
            }
        })
        .catch((err)=>{
            // eslint-disable-next-line no-console
            console.log(err);
        })
    })
    .catch((err)=>{
        // eslint-disable-next-line no-console
        console.log(err);
    })
  },
  components: {
    Timeline
  },
  methods: {
    getDataFromApi(self) {
            axios.defaults.headers.common['Authorization'] = 'Bearer ' + VueCookies.get('vue-token');

            axios
                .get(env.httpOrHttps + '://' + env.usersManagerUrl + '/users/' + this.$route.query.id)
                .then(response => {
                    self.user = response.data;
                    Vue.$log.debug("uszeprofile", this.user.id);
                    self.loading = true;
                    if(response.data.attachmentId !== null && response.data.attachmentId !== undefined) {
                        getImageLink(response.data.attachmentId)
                            .then(result => {
                                document.getElementById('profileImage').src = result;
                            })
                            .catch(err => {
                                console.log('Error mounting user image: ' + err);
                            })
                    }
                })
                .catch(function (err) {
                    if (err.response !== undefined && err.response.status === 403) {
                        router.push("/login");
                    } else {
                        if (err.response !== undefined) {
                            // eslint-disable-next-line no-console
                            console.log('Unexpected response (code: ' + err.response.status + ", body: " + err.response.data + ')')
                        } else {
                            // eslint-disable-next-line no-console
                            console.log('Fetch Error :-S', JSON.stringify(err.response))
                        }
                    }
                })
        },
    actionFollow() {
      if (document.getElementById("follow-button").value == "+ Follow") {
          follow(this)
          .then((resultFollow)=>{
            // eslint-disable-next-line no-console
            console.log(resultFollow);
            document.getElementById("follow-button").style.color =  "#FFF8DC";
            document.getElementById("follow-button").style.borderColor = "#FFA07A";
            document.getElementById("follow-button").style.backgroundColor = "#FFA07A";
            document.getElementById("follow-button").value = "Following";
            document.getElementById("follow-button").style.fontWeight = "bold";
          })
          .catch((err)=>{
              // eslint-disable-next-line no-console
              console.log('error follow');
              // eslint-disable-next-line no-console
              console.log(err);
          })
            
      } else {
          unfollow(this)
          .then((resultUnfollow)=>{
            document.getElementById("follow-button").value = "+ Follow";
            document.getElementById("follow-button").style.color =  "#3399FF";
            document.getElementById("follow-button").style.backgroundColor = "#ffffff";
            document.getElementById("follow-button").style.borderColor = "#3399FF";
            document.getElementById("follow-button").style.fontWeight = "bold";
          })
          .catch((err)=>{
              //eslint-disable-next-line no-console
              console.log(err);
          })
            
        }
    }
  }
};

async function follow(self){
    return new Promise((resolve,reject)=>{
        let tokenDecoded = jwt.decode(VueCookies.get("vue-token"));
        //tokenDecoded["sub"]
        //this.$route.query.id
      fetch(
        env.httpOrHttps +
        "://" +
        env.usersManagerUrl +
        "/users/follows",
        {
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
          "Access-Control-Allow-Origin": "*",
          Authorization: "Bearer " + VueCookies.get("vue-token")
        },
        method: "POST",
        body: JSON.stringify({
          idUser: tokenDecoded["sub"],
          idUserFollowed: self.$route.query.id
        })
        })
        .then((result)=>{
            // eslint-disable-next-line no-console
            console.log('result follow');
            resolve(result)
        })
        .catch((error)=>{
            // eslint-disable-next-line no-console
            console.log(error);
            reject(error)
        })
    })
}
async function unfollow(self){
return new Promise((resolve,reject)=>{
        let tokenDecoded = jwt.decode(VueCookies.get("vue-token"));
        //tokenDecoded["sub"]
        //this.$route.query.id
      fetch(
        env.httpOrHttps +
        "://" +
        env.usersManagerUrl +
        "/users/follows/" +
        tokenDecoded["sub"],
        {
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
          "Access-Control-Allow-Origin": "*",
          Authorization: "Bearer " + VueCookies.get("vue-token")
        },
        method: "DELETE",
        body: JSON.stringify({
          idUserFollowed: self.$route.query.id
        })
        })
        .then((result)=>{
            // eslint-disable-next-line no-console
            console.log('result unfollow');
            resolve(result)
        })
        .catch((error)=>{
            // eslint-disable-next-line no-console
            console.log(error);
            reject(error)
        })
    })
}

async function getFollow(self){
    return new Promise((resolve,reject)=>{
         let tokenDecoded = jwt.decode(VueCookies.get("vue-token"));
        //tokenDecoded["sub"]
        //this.$route.query.id
      fetch(
        env.httpOrHttps +
        "://" +
        env.usersManagerUrl +
        "/users/follows/" +
        tokenDecoded["sub"] +
        '&'+self.$route.query.id,
        {
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
          "Access-Control-Allow-Origin": "*",
          Authorization: "Bearer " + VueCookies.get("vue-token")
        },
        method: "GET",
        })
        .then((result)=>{
            // eslint-disable-next-line no-console
            console.log('result getfollow');
            resolve(result)
        })
        .catch((error)=>{
            // eslint-disable-next-line no-console
            console.log(error);
            reject(error)
        })
    })
}

</script>

<style scoped>
.card {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  text-align: center;
}
.card-img {
  max-width: 155px;
  max-height: 155px;
}
.tl {
  width: 100%;
}
</style>
