<template>
<div class="card">
    <div class="card-body">
        <img
            :id="imageId"
            class="card-img"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0sCR5gm4oezjeW6w0lyRlVAuxz2HRZj8kTUpIzp3Je-SAUdyf-w&s"
            alt="chargement échoué"
        >
        <h5 class="card-title pull-right content-text">{{ firstName }} {{ lastName }}</h5>
        <p class="card-text content-text">{{ city }}</p>
    </div>
</div>
</template>

<script>
import getImageLink from '../getImageLink';

export default {
  name: 'UserCard',
  props: {
    userId: String,
    attachmentId: String,
    firstName: String,
    lastName: String,
    city: String,
  },
  mounted() {
      if(this.attachmentId !== null && this.attachmentId !== undefined) {
          getImageLink(this.attachmentId)
              .then(result => {
                  document.getElementById(this.imageId).src = result;
              })
              .catch(err => {
                  console.log('Error mounting user image: ' + err);
              })
      }
  },
  computed: {
    imageId: function () {
      return 'image-' + this.userId;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.card {
  width: 300px;
  display: flex;
}
.card-img {
  max-width: 55px;
  max-height: 55px;
  float: left;
  margin-right: 10px;
}
h3 {
  margin-top: -22px;
}
</style>