<template>
  <div class="userslist">
    <h3>Utilisateurs</h3>
    <div class="row">
        <div v-for="user in users" v-bind:key=user.id style="padding: 5px">
          <div v-on:click="gotoProfile(user.id)">
            <UserCard
              v-bind:user-id="user.id"
              v-bind:attachmentId="user.attachmentId"
              v-bind:firstName="user.firstName"
              v-bind:lastName="user.lastName"
              v-bind:city="user.city"
              >
            </UserCard>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import UserCard from './UserCard'
import env from '../../config/environment-variable'
import axios from 'axios';
import VueCookies from 'vue-cookies'
import {router} from '../main'

export default {
  name: 'UsersList',
  props: {
    msg: String
  },
  components: {
    UserCard
  },
  data() {
    return {
      users: Object,
    }
  },
   created() {
    axios.defaults.headers.common['Authorization'] = 'Bearer ' + VueCookies.get('vue-token')
    axios
        .get(env.httpOrHttps + '://' + env.usersManagerUrl + '/users')
        .then(response => {
          this.users = response.data
        })
        .catch(function (err) {
          if (err.response !== undefined && err.response.status === 403) {
            router.push("/login");
          } else {
            if (err.response === undefined) {
              // eslint-disable-next-line no-console
              console.log('Fetch Error :-S', JSON.stringify(err.response))
            }
          }
        })
  },
  methods: {
    gotoProfile(id) {
      window.location = '/profile?id=' + id;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.userslist {
    padding: 22px;
}
.row {
  margin-left: 0px;
}
</style>
