<template>
  <div id="app">
    <header>
      <link rel="stylesheet" 
        href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" 
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" 
        crossorigin="anonymous">
    <TopBar/>
    </header>
    <body>
    <router-view></router-view>
    </body>
  </div>
</template>

<script>
import TopBar from './components/TopBar.vue'

export default {
  name: 'app',
  components: {
    TopBar
  }
}
</script>

<style>
  body {
    padding-top: 40px;
    background-color: #f4f6f9;
  }
</style>
